* {
  color: white;
  font-family: "Segoe UI", Verdana, Tahoma, Geneva, sans-serif;
  padding: auto;
}
body {
  background-color: black;
}
header {
  background-image: url(./img/Records.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 100px;
  text-decoration: solid;
  text-align: center;
}
.Selection {
  font-size: 25px;
  text-decoration: solid;
  text-align: center;
  background-color: #ef8354;
}
span {
  font-weight: bold;
}
.Selling {
  background-color: #0e7c7b;
  text-align: center;
}
.Live {
  background-color: #9c538b;
  text-align: center;
}
a {
  color: #ef8354;
}
a:link {
  color: #9c528b;
}
a:hover {
  color: #9c528b;
}
